@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;700&display=swap');

:root{
    --Light-red: hsl(0, 100%, 67%, 0.05);
    --Orangey-yellow: hsl(39, 100%, 56%,0.05);
    --Green-teal: hsl(166, 100%, 37%, 0.05);
    --Cobalt-blue: hsl(234, 85%, 45%, 0.05);

    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsla(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 0.7);
    --Persian-blue : hsla(241, 72%, 46%, 0);
    
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}
.container{
    display: flex;
    align-items: center;
   justify-content: center;
   margin-left: 200px;

}

.left-side{
    position: absolute;
    width: 17%;
    left: 430px;
    background-image: linear-gradient(to top, hsla(241, 81%, 54%), hsla(241, 81%, 54%, 0.8));
    padding: 30px 10px 30px 10px;
    margin-left: 100px;
    border-radius: 20px;
}

.left-side h3{
    color: white;
    font-weight: 500;
    padding: 0 0 20px 90px;
    opacity: 0.8;
}

.left-side h2{
    color: white;
    margin-left: 100px;
     
}

.left-side .success-description{
    color: light-grey;
    margin: 0;
    margin: 10px 20px 20px 20px;
    text-align: center;
}

.left-side .circle{
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to bottom,  hsla(256, 72%, 46%, 1),  hsla(256, 72%, 46%, 0.1));
    border-radius: 50%;
    position: relative;
    margin: 5px 0 20px 60px;
}

.circle .obtained-percentage{
    margin-left: 45px; 
    color: white;
    font-size: 3em;
    left: 10px;
    font-weight: 700;
}

.circle .full-percentage{
    color: lightgrey; 
    margin-left: 45px;
}

.circle p{
    position: absolute;
    display: flex;
    top: 30px;
    display: block;
}



.right-side{
    min-width: 250px;
    background-color: white; 
    padding-left: 100px;
    box-shadow: 0.5px 1px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    
}

.right-side h2{
    font-size: 1.2em;
    padding: 22px 0px 20px 0px;
}

ul{
    list-style-type: none;
}

li p{
    display: inline-block;
}

ul li{
    margin-bottom: 20px;
    height: 40px;
}

.card-summary li {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    width: 240px;
    margin-right: 20px;
}

li img{
    width: 17px;
    margin-left: 10px;
}

.success-description{
    color: lightgrey;
}

ul li:nth-child(1){
    background-color: var(--Light-red);
    color:hsl(0, 100%, 67%);
    font-size: 0.9em;
}

ul li:nth-child(2){
    background-color: var(--Orangey-yellow);
    color:hsl(39, 100%, 56%);
    font-size: 0.9em;
}


ul li:nth-child(3){
    background-color: var(--Green-teal);
    color: hsl(166, 100%, 37%);
    font-size: 0.9em;
}


ul li:nth-child(4){
    background-color: var(--Cobalt-blue);
    color: hsl(234, 85%, 45%);
    font-size: 0.9em;
}

.card-summary li .percentage {
    margin-left: 60px;
    color: black;
    font-size: 0.9em;
    font-weight: 700;
}

.card-summary li .full-size {
    color: grey;
    font-weight: 400;
}

.continue-button{
    width: 200px;
    height: 40px;
    border: none;
    background-image: linear-gradient(to bottom, hsla(241, 81%, 54%), hsla(241, 81%, 54%, 0.8));
    margin-bottom: 40px;
    margin-top: 12px;
    color: white;
    font-weight: 500;
    border-radius: 20px;
}


